{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Website</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'main:home' %}">Дом</a></li>
                <li><a href="{% url 'main:specialties' %}">Специальности</a></li>
                <li><a href="{% url 'main:contact' %}">Контакт</a></li>
                <li><a href="{% url 'main:appointment' %}">Запись</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Medical Website</p>
    </footer>
</body>
</html>
