{% extends 'main/base.html' %}
{% load static %}

{% block title_page %}
    <title>Добро пожаловать на сайт!</title>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <div class="welcome-section">
        <h1>Добро пожаловать на наш сайт!</h1>
        <p>На данном сайте вы найдёте различную медицинскую информацию по следующим направлениям:</p>
    </div>

    <div class="sections">
        <div class="section main-directions">
            <h2><a href="{% url 'cardiology:cardiology' %} " style="color: black">Кардиология</a></h2>
            <p>Кардиология — это медицинская специальность, фокусирующаяся на изучении анатомии и функций сердца и сосудов, разработке новых методов диагностики и лечения сердечно-сосудистых заболеваний, а также на предупреждении их развития.</p>
            <img src="{% static 'imagens/card.jpg' %}" alt="Кардиология" class="section-image">
        </div>

        <div class="section">
            <h2><a href="{% url 'therapy:index' %}" style="color: black">Терапия</a></h2>
            <p>Терапия — это область медицины, которая занимается диагностикой и лечением внутренних болезней, включая заболевания дыхательной, пищеварительной и мочевыделительной систем.</p>
            <img src="{% static 'imagens/ter.jpg' %}" alt="Терапия" class="section-image">
        </div>

        <div class="section">
            <h2><a href="{% url 'surgery:index' %}" style="color: black">Хирургия</a></h2>
            <p>Хирургия — это область медицины, которая занимается лечением заболеваний и травм путем оперативного вмешательства.</p>
            <img src="{% static 'imagens/hirur.jpg' %}" alt="Хирургия" class="section-image">
        </div>

        <div class="section">
            <h2><a href="{% url 'pediatrics:index' %}" style="color: black">Педиатрия</a></h2>
            <p>Педиатрия — это область медицины, которая занимается лечением и профилактикой заболеваний у детей.</p>
            <img src="{% static 'imagens/ped.jpg' %}" alt="Педиатрия" class="section-image">
        </div>

        <div class="section">
            <h2><a href="{% url 'neurology:index' %}" style="color: black">Неврология</a></h2>
            <p>Неврология — это область медицины, которая изучает строение, функции и заболевания нервной системы.</p>
            <img src="{% static 'imagens/nevr.jpg' %}" alt="Неврология" class="section-image">
        </div>

        <div class="section">
            <h2><a href="{% url 'orthopedics:index' %}" style="color: black">Ортопедия</a></h2>
            <p>Ортопедия — это область медицины, которая занимается лечением заболеваний и повреждений опорно-двигательного аппарата.</p>
            <img src="{% static 'imagens/ortoped.jpg' %}" alt="Ортопедия" class="section-image">
        </div>
    </div>

    <div class="news-section">
        <h2>Актуальная информация</h2>
        <ul class="news">
            <li><a href="#">Новость 1: Последние достижения в кардиологии</a></li>
            <li><a href="#">Новость 2: Новые методы лечения в терапии</a></li>
            <li><a href="#">Новость 3: Современные хирургические технологии</a></li>
            <li><a href="#">Новость 4: Вакцинация и педиатрия</a></li>
            <li><a href="#">Новость 5: Исследования в области неврологии</a></li>
            <li><a href="#">Новость 6: Реабилитация в ортопедии</a></li>
        </ul>
    </div>
{% endblock %}
