{% extends 'main/base.html' %}
{% load static %}

{% block title_page %}
    <title>Добро пожаловать на сайт!</title>
{% endblock %}

{% block content %}
    <div class="welcome-section">
        <h1>Добро пожаловать на наш сайт!</h1>
        <p>На данном сайте вы найдёте различную медицинскую информацию по следующим направлениям:</p>
        <br>
        <ul>
            <li>Кардиология</li>
            <li>Терапия</li>
            <li>Хирургия</li>
            <li>Педиатрия</li>
            <li>Неврология</li>
            <li>Ортопедия</li>
        </ul>
    </div>
{% endblock %}
